@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main {
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  background-image: url(./imgs/night.jpg);
}

.hourly-weather-display-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 8rem;
}

.hourly-weather-display {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 0.75rem;
  padding: 0.5rem;
  align-items: center;
}

.hourly-weather-display img{
  height: 2rem;
  width: 2rem;
}
