@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-image: url(./imgs/night.jpg);
  color: white;
}

.header{
  display: flex;
}

.header .search-bar {
  padding: 4px;
  color: white;
  appearance: none;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.158);
  height: 2rem;
  margin: 1rem;
  margin-left: auto;
  font-weight: 500;
  font-size: 1rem;
}

#detailed-weather-display {
  display: flex;
  border-radius: 0.75rem;
  padding: 2rem 8rem 4rem 8rem;
}

#detailed-weather-display .detailed-weather-temp {
  display: flex;
  position: relative;
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.75;
  margin-right: 1rem;
}
.detailed-weather-temp.celsius::after {
  font-size: 2rem;
  content: "°C";
}

#detailed-weather-display .wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.hourly-weather-display-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 2rem;
  padding: 0 8rem;
}

.hourly-weather-display {
  min-width: 80px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.295);
  border-radius: 0.75rem;
  padding: 0.5rem;
  align-items: center;
}
.hourly-weather-display-temp.celsius::after,
.feels-like-temp.celsius::after {
  content: "°C";
}

.hourly-weather-display img {
  height: 2rem;
  width: 2rem;
}
